<!-- https://www.bootstrapcdn.com/fontawesome/
https://fontawesome.com/v4.7.0/ -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="card">
        <div class="imgBox">

            <img src="/assets/myPic2.jpg">
            <img src="/assets/myPic.jpeg">


        </div>
        <div class="details">
            <div class="content">
                <h2>Yesrat Rahman<br> <span style="color:rgb(89, 89, 228)">Java Full Stack Engineer<br></span>
                    <span style="color: cornflowerblue;">Talent Path</span>

                </h2>
                <div class="social-icons">
                    <a (click)="onClickLinked()">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a (click)="onClickedGit()">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="mailto:yrahman@talentpath.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    <a (click)="onClickedGitLab()">
                        <i class="fa fa-gitlab" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>