mat-icon {
    font-size: 48px;
}

.data-value {
    font-size: 40px;
}

.metric-summary {
    display: flex;
    flex-direction: column;
}

.metric-summary div>* {
    margin-bottom: 20px;
}

.metric-summary .money-icon {
    color: green;
}