.sty{
    background-color: rgb(218, 240, 231);
        max-width: 400px;
      
}
.mat-card-header .mat-card-title{
    text-align: center;

}

.main-div{
    background-color: rgb(222, 241, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
      text-align: center;
  }



  