.sty {
    background-color: white;
    max-width: 450px;
    height: 300px;
    width: 380px;
    text-align: center;
}

.main-div {
    padding: 16px;
    background-color: rgb(222, 241, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/ex5.jpg');
    background-size: 100vw 100vh;
}

hr {
    border-top: 1px solid #2196f3;
}

.cancel {
    color: black;
    background-color: rgba(177, 151, 182, 0.418);
}