.sty {
    background-color: rgb(171, 241, 212);
    max-width: 400px;
    height: 250px;
    width: 350px;
}

.main-div {
    background-color: rgb(222, 241, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    font-size: 80px;
}

.info-content {
    font-size: 18px;
    font-weight: 100;
}

.mat-icon {
    width: inherit;
    color: #2196F3;
}

.but {
    color: black;
    background-color: rgba(155, 199, 219, 0.418);
    font-size: 14px;
}

.but:hover {
    background-color: rgba(60, 163, 211, 0.418);
}

.info-content {
    font-size: 20px;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: 0;
    text-align: right;
}

.logButton:hover {
    background-color: rgb(151, 190, 72);
}

.mat-button {
    font-size: 15px;
}

.logButton {
    background-color: rgb(208, 235, 181);
}

.userInfo {
    height: 300px;
    width: 300px;
    display: inline-block;
}

.divider {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}