<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<mat-card>
    <mat-card-title>User Info</mat-card-title>
    <mat-card-content>
        <mat-icon class="account">account_circle</mat-icon>
        <div class="justify-content-center">
            <span class="info-content">{{currentUser.userName}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="but" mat-raised-button [routerLink]="['/users']">Logout</button>
        <button class="but" mat-raised-button [routerLink]="['/deleteUser/',currentUser.userId]">Delete User</button>
    </mat-card-actions>
</mat-card>


<div class="main-div">

    <mat-card class="sty">
        <mat-card-title style="font-size: 25px;">Expense Manager </mat-card-title>
        <button mat-button routerLink='/addExpense' color="primary">
            <i class="fa fa-plus" aria-hidden="true"></i>Add Expense</button>
        <!-- <button mat-button [routerLink]="['/userExpense/',currentUser.userId]" color="primary">Get Expense</button> -->
        <button mat-button routerLink="/expenseDashboard" color="primary">        
            <i class="fa fa-1x fa-fw fa-bar-chart"></i> View Expenses
        </button>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <br/>

    <mat-card class="sty">
        <mat-card-title style="font-size: 25px;">Income Manager </mat-card-title>
        <button mat-button routerLink='/addIncome' color="primary">
            <i class="fa fa-plus" aria-hidden="true"></i>Add Income</button>

        <!-- <button mat-button [routerLink]="['/userIncome/',currentUser.userId]" color="primary">Get Income</button> -->
        <button mat-button routerLink="/incomeDashboard" color="primary">        
            <i class="fa fa-1x fa-fw fa-bar-chart"></i> View Incomes
        </button>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <br/>
    <mat-card class="sty">
        <mat-card-title style="font-size: 25px;">Summary</mat-card-title>
        <button mat-button routerLink='/expenseIncomeChart' color="primary">Get Report</button>


        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>


</div>