.main-div {
    background-color: rgb(222, 241, 235);
    height: 150vh;
}

.expenseManager {
    background-color: rgba(171, 241, 212, 0.5);
    max-width: 400px;
    height: 250px;
    width: 400px;
    display: inline-block;
    margin-left: 18%;
    margin-right: 18%;
}

.report {
    background-color: rgba(171, 241, 212, 0.5);
    max-width: 400px;
    height: 250px;
    width: 400px;
    margin-left: 18%;
    margin-right: 18%;
    float: right;
}

.incomeManager {
    background-color: rgba(171, 241, 212, 0.5);
    max-width: 400px;
    height: 250px;
    width: 400px;
    margin-left: 18%;
    margin-right: 18%;
    /* text-align: center; */
}

.account {
    font-size: 80px;
}

.info-content {
    font-size: 18px;
    font-weight: 100;
}

.mat-icon {
    width: inherit;
    color: #2196F3;
}

.but {
    color: black;
    background-color: rgba(155, 199, 219, 0.418);
    font-size: 14px;
}

.but:hover {
    background-color: rgba(60, 163, 211, 0.418);
}

.info-content {
    font-size: 20px;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: 0;
    text-align: right;
}

.logButton:hover {
    background-color: rgb(151, 190, 72);
}

.mat-button {
    font-size: 15px;
}

.logButton {
    background-color: rgb(208, 235, 181);
}

.userInfo {
    height: 320px;
    width: 600px;
    display: inline-block;
}

.divider {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.fa-trash-o:before {
    font-size: 18px;
}

.primary {
    background-color: rgb(64, 161, 218);
}