<h2 mat-dialog-title>Manage Income</h2>

<form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid, f)">


    <mat-dialog-content *ngIf="!update">

        <div>

            <div class="row">
                <div class="col-sm-6">
                    <label>Category</label>
                    <p>{{income.category}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Amount</label>
                    <p>${{income.incomeAmount}}</p>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <label>Description</label>
                    <p>{{income.description}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label>Date </label>
                    <p>{{income.earnedDate}}</p>
                </div>
            </div>

        </div>
    </mat-dialog-content>

    <mat-dialog-content *ngIf="update">
        <div class="row">

            <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                    <input matInput matInput placeholder="Income Amount" type="number" min="1" name="incomeAmount" [(ngModel)]="income.incomeAmount" (blur)="formatAmount()" #amount="ngModel" required>
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>
                <div *ngIf="amount.errors && (amount.dirty || amount.touched)" class="alert alert-danger">
                    <small>Amount is required (positive amount, max 2 decimal places).</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 date-picker">
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="income.earnedDate" name="earnedDate" #date="ngModel" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="date.errors" class="alert alert-danger">
                    <small>
            Date is required.
          </small>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Income category</mat-label>
                    <mat-select [(ngModel)]="income.category" name="category" #categoryCon="ngModel" required>
                        <mat-option value="Gift">Gift</mat-option>
                        <mat-option value="Salary">Salary</mat-option>
                        <mat-option value="Business">Business</mat-option>
                        <mat-option value="Stock">Stock</mat-option>
                        <mat-option value="Rental Income">Rental Income</mat-option>
                        <mat-option value="Miscellaneous">Other</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="categoryCon.errors && (categoryCon.dirty || categoryCon.touched)" class="alert alert-danger">
                    <small>Category is required.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Income Description</mat-label>
                    <input matInput placeholder="Description" type="text" name="description" [(ngModel)]="income.description" #descriptionCon="ngModel" required>
                </mat-form-field>
                <div *ngIf="descriptionCon.errors && (descriptionCon.dirty || descriptionCon.touched)" class="alert alert-danger">
                    <small>Description is required.</small>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-button color="primary" mat-dialog-close>Close</button>

        <span *ngIf="confirmDelete"> 
            <span>Are you sure you want to delete?</span>
        <button class="btn btn-danger" (click)="deleteIncome()"> Yes </button>
        <button class="btn btn-danger" (click)="confirmDelete=false"> No </button>
        </span>

        <span *ngIf="!confirmDelete"> 

        <button type="button" mat-dialog-close *ngIf="!update" class="delete" mat-button color="warn" (click)="deleteIncome()">Delete
            </button>

        </span>

        <button type="button" *ngIf="!update" mat-raised-button color="primary" (click)="update = true">Edit
        </button>


        <button type="button" *ngIf="update" class="delete" mat-button color="primary" (click)="reset()">Reset</button>
        <button *ngIf="update" mat-dialog-close type="submit" [disabled]="!f.form.valid || isIncomeUntouched()" mat-raised-button color="primary">Update
        </button>

    </mat-dialog-actions>
</form>