.card {
    margin-bottom: 20px;
}

.primary {
    background-color: rgb(224, 102, 102);
}

.main-div {
    height: 260vh;
    background-image: url('/assets/ex2.jpg');
    max-width: 1000vh;
    background-size: 1000vw 800vh;
}

.sty {
    height: 200px;
    width: 300px;
    display: inline-block;
}

.title {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table {
    height: 700px;
    width: 1100px;
    margin-left: 190px;
}

.summaryTable {
    max-height: 120vh;
}

.barChart {
    height: 700px;
    width: 1100px;
    margin-left: 190px;
}

.logButton:hover {
    background-color: rgb(66, 192, 209);
}

.logButton {
    background-color: rgb(204, 223, 241);
}