<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>

<div class="main-div">
    <br/>
    <br/>

    <mat-card class="sty">
        <br/>
        <mat-card-title class="title">Expense Total</mat-card-title>
        <br/>
        <br/>
        <app-expense-summary> </app-expense-summary>
    </mat-card>
    <br/>
    <br/>
    <br/>
    <br/>

    <mat-card class="table">
        <br/>
        <mat-card-title>Expense Detail summary
        </mat-card-title>
        <mat-card-subtitle style="text-align: center; font-size: 20px;">Click on row to edit expense</mat-card-subtitle>
        <mat-card-content>
            <app-expense> </app-expense>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>


    <mat-card class="barChart">
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            <app-expense-category-chart></app-expense-category-chart>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <br/>
    <br/>
    <br/>

    <div>
        <button mat-fab class="primary" routerLink="/wallet">
            <mat-icon>note_add</mat-icon>
        </button>
    </div>
</div>