.main-div {
    background-color: rgb(222, 241, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sty {
    background-color: #fff;
    max-width: 100%;
    height: 250px;
    width: 450px;
}

.but {
    color: black;
    background-color: rgba(64, 155, 197, 0.418);
}