<!-- <h1>Personal Wallet</h1>
<nav>
  <ul>
    <li><a routerLink="/addUser" routerLinkActive="active">User</a></li>
  </ul>
</nav> -->
<!-- <p>Home Works!</p>  -->



<!-- <body>
   <div class="Section_top">
       <div class="content">
           <a href="#">Welcome</a>
       </div>
   </div>
</body>
 -->


 <body> 
   <div class ="slider">
     <figure>
       <div class="slide">
         <p></p>
         <img src="img1.jpg" alt=""> 
       </div> 

       <div class="slide">
        <p></p>
        <img src="img2.jpg" alt=""> 
      </div> 

      <div class="slide">
        <p></p>
        <img src="img3.jpg" alt=""> 
      </div> 

      <div class="slide">
        <p></p>
        <img src="img4.jpg" alt=""> 
      </div> 

      <div class="slide">
        <p></p>
        <img src="img5.jpg" alt=""> 
      </div> 

      <div class="slide">
        <p></p>
        <img src="img6jpg" alt=""> 
      </div> 


     </figure> 


   </div>
 </body>