<div class="slider">
    <figure>
        <div class="slide">
            <p class="title">Welcome to Personal Wallet</p>
            <img src="/assets/img1.jpg" alt="">
        </div>

        <div class="slide">
            <p>Personal wallet is a simple application to help you keep track of your daily expenses and incomes </p>
            <img src="/assets/img2.jpg" alt="">
        </div>

        <div class="slide">
            <p>Charts and tables will help you better track savings behaviors </p>

            <img src="/assets/img3.jpg" alt="">
        </div>

        <div class="slide">
            <p class="title">Get Total Expenses and Incomes</p>
            <img src="/assets/img4.jpg" alt="">
        </div>

        <div class="slide">
            <p class="title">Start saving for the future! </p>
            <img src="/assets/img5.jpg" alt="">
        </div>

        <div class="slide">
            <p class="title">Start saving for the future! </p>
            <img src="/assets/img6.jpg" alt="">
        </div>


    </figure>


</div>