<!-- <h1>Personal Wallet</h1>
<nav>
  <ul>
    <li><a routerLink="/addUser" routerLinkActive="active">User</a></li>
  </ul>
</nav> -->
<!-- <p>Home Works!</p>  -->



<!-- <body>
   <div class="Section_top">
       <div class="content">
           <a href="#">Welcome</a>
       </div>
   </div>
</body>
 -->


<div class="slider">
  <figure>
    <div class="slide">
      <p>Welcome to Personal Wallet</p>
      <img src="/assets/img1.jpg" alt="">
    </div>

    <div class="slide">
      <p>Welcome to Personal Wallet</p>
      <img src="/assets/img2.jpg" alt="">
    </div>

    <div class="slide">
      <p>Welcome to Personal Wallet</p>
      <img src="/assets/img3.jpg" alt="">
    </div>

    <div class="slide">
      <p>Welcome to Personal Wallet</p>
      <img src="/assets/img4.jpg" alt="">
    </div>

    <div class="slide">
      <p>Welcome to Personal Wallet</p>
      <img src="/assets/img5.jpg" alt="">
    </div>

    <div class="slide">
      <p>Welcome to Personal Wallet</p>
      <img src="/assets/img6.jpg" alt="">
    </div>


  </figure>


</div>