<div>

    <mat-card>
        <br>
        <mat-card-title>Overall Savings</mat-card-title><br><br>
        <mat-card-content>
            <app-overall-saving></app-overall-saving>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>

    <mat-card>
        <br>
        <mat-card-title>Expense and Income Report Chart</mat-card-title><br><br>
        <mat-card-content>
            <div *ngIf="chart">
                <canvas id="canvas"> {{chart}}</canvas>

            </div>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>


</div>















<!-- <div>
    <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
</div> -->

<!-- <div>
    <chart [options]="options" (load)="saveInstance($event.context)"></chart>
</div> -->

<!-- <div class="chart-container" style="position: relative; height:40vh; width:70vw">
    <canvas id="canvas"></canvas>
</div> -->